in4rabbitmq
in4rabbitmq/target/
cloud-controller-comsumer/target/
cloud-controller-comsumer/*.log
cloud-controller-producer/target/
cloud-controller-producer/*.log
cloud-controller-producer/target/
cloud-controller-producer/*.log
cloud-service-producer/target/
cloud-service-producer/*.log

######### OS files ###########
*/.DS_Store
.DS_Store

### log ###
log.txt
log.txt.*
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

!.mvn/wrapper/maven-wrapper.jar
.svn/
**/.svn/
.metadata/
**/.metadata/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

/**/rebel.xml