xbb-work-order
work-order-mobile/target/
work-order-web/target/
work-order-service/target/
work-order-service/*.log
work-order-model/target/
work-order-model/*.log
work-order-model/target/
target/

!.mvn/wrapper/maven-wrapper.jar
.svn/
**/.svn/
.metadata/
**/.metadata/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
### build/ ###
nbbuild/
### dist/ ###
nbdist/
.nb-gradle/
.recommenders/
runWeb.sh
runStatistic.sh
xbb-dingtalk-jxc-web/interface.txt
runStatistic.sh
*.class

### log ###
log.txt
log.txt.*
*.log

######### OS files ###########
*/.DS_Store
.DS_Store